#notFound {
  .header {
    text-align: center;
    font-size: 2rem;
    padding: 2rem .4rem;
    margin: 1rem;
  }
  
  .description {
    text-align: center;
    padding: 1rem;
    border: 1px solid #1e5e5e;
    border-radius: 4px;
    
    font-size: 1.2rem;
  }
}
