.app {
	display: block;	
}

.app-container {
	max-width: 1280px;
	margin: auto auto 4rem;
	position: relative;
}

.top-bar {
	height: 54px;
	width: 100%;
	position: absolute;
	
  background-color: #1e5e5e;
}
